:root {
  --background: 0 0% 100%;
  --foreground: 346.8 77.2% 49.8%;
  --card: 345 100% 97.1%;
  --card-foreground: 346.8 77.2% 49.8%;
  --popover: 0 0% 100%;
  --popover-foreground: 346.8 77.2% 49.8%;
  --primary: 346.8 77.2% 49.8%;
  --primary-foreground: 355.7 100% 97.3%;
  --secondary: 345 10.3% 92.9%;
  --secondary-foreground: 346.8 77.2% 49.8%;
  --muted: 345 10.3% 92.9%;
  --muted-foreground: 340.9 9.3% 50.8%;
  --accent: 345 10.3% 92.9%;
  --accent-foreground: 346.8 77.2% 49.8%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 346.8 77.2% 49.8%;
  --input: 346.8 77.2% 49.8%;
  --ring: 346.8 77.2% 49.8%;
  --radius: 0.5rem;
}
 
.dark {
  --background: 348 83.3% 6.7%;
  --foreground: 355.7 100% 97.3%;
  --card: 348 83.3% 6.7%;
  --card-foreground: 355.7 100% 97.3%;
  --popover: 348 83.3% 6.7%;
  --popover-foreground: 355.7 100% 97.3%;
  --primary: 355.7 100% 97.3%;
  --primary-foreground: 346.8 77.2% 49.8%;
  --secondary: 345 10.3% 15.1%;
  --secondary-foreground: 355.7 100% 97.3%;
  --muted: 345 10.3% 15.1%;
  --muted-foreground: 340.9 9.3% 62.5%;
  --accent: 345 10.3% 15.1%;
  --accent-foreground: 355.7 100% 97.3%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 345 10.3% 15.1%;
  --input: 345 10.3% 15.1%;
  --ring: 346.8 77.2% 49.8%;
}